  <div class="container">
    <h1>Comment on the News</h1>
    <h2>{{news.sitename}}</h1>
    <p>{{news.text}}</p>
    <ul>
    {{#each posts}}
      <li><b>{{this.title}}</b><br>
      Link: <a href="{{this.link}}" target="_blank">{{this.link}}</a><br>
      {{#if this.image}}
        <img src="{{this.image}}" style="max-width: 400px;">
      {{/if}}
      </li>
    {{/each}}
    </ul>
  </div>
  