
    <h2>{{shortName}}</h2>
    <p>{{introText}}</p>
    <a href="/" class="breadcrumb">&lt; &lt; Back Home</a>
    {{#if articles}}
      <ul class="newsView">
      {{#each articles}}
        <li>
          {{#if ../isSavedPage}}
          <a href="/unsave/{{this._id}}" class="viewSaved removeSaved"><strong>-</strong> Remove from Saved</a>
          {{/if}}
          {{#unless ../isSavedPage}}
          <a href="/save/{{this._id}}" class="viewSaved"><strong>+</strong> Save This Article</a>
          {{/unless}}
        {{#if this.image}}
          <img class="featureImage" src="{{this.image}}" >
        {{/if}}
        <h3 class="newsTitle"><a class="externalLink" href="{{this.link}}" target="_blank">{{this.title}}</a></h3>

        <!-- form for submitting comments -->
        <div class="commentsBlock">
          <div class="addComment">
            <form class="commentForm" method="POST" action="/create/comment">
              <input type="hidden" value="anon" name="author" />
              <input type="hidden" value="{{this._id}}" name="articleId" />
              <input type="hidden" value="{{../_id}}" name="siteId" />
              <p class="loginBlock">You must log in to leave a comment.</p>
              <textarea cols="30" class="logoutBlock" name="commentText">Comment on this article</textarea>
              <input type="submit"class="logoutBlock"  value="Submit">
            </form>
          </div>

          {{#if this.comments}}
          <!-- List out existing comments -->
            <div class="seeComments">Previous comments
              {{#each this.comments}}
              <div class="singleComment">
                text: {{this.text}}<br>
                posted by {{this.author}} at {{this.createdAt}}
              </div>
              {{/each}}
            </div>
          {{/if}}

        </div>
        <br clear="both">
        </li>
      {{/each}}
      </ul>
    {{/if}}
    {{#unless articles}}
      <p>There are no articles to display</p>
    {{/unless}}
  