
    <h2>{{shortName}}</h2>
    <p>{{introText}}</p>
    {{#if articles}}
      <ul class="newsView">
      {{#each articles}}
        <li><h3 class="newsTitle">{{this.title}}</h3>
        Link: <a class="externalLink" href="{{this.link}}" target="_blank">{{this.link}}</a><br>
        {{#if this.image}}
          <img class="featureImage" src="{{this.image}}" style="max-width: 400px;">
        {{/if}}
        <div class="commentsBlock">
          <div class="addCOmment">
            <h4>Comment on this</h4>
            <form class="commentForm" action="/create/comment">
              <input type="hidden" value="anon" name="author" />
              <input type="hidden" value="{{this._id}}" name="articleId" />
              <input type="hidden" value="{{site._id}}" name="siteId" />
              <input type="text" size="50" name="commentText" />
            </form>
            </form>
          </div>
          {{#if this.comments}}
            <div class="seeComments">View (NUM) comments
              {{#each this.comments}}
                {{this.text}}<br>
                posted by {{this.author}} at {{this.timestamp}}
              {{/each}}
            </div>
          {{/if}}
        </div>
        </li>
      {{/each}}
      </ul>
    {{/if}}
  